.main{
  //@include outer-container;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  padding: 50px;
  border-radius: 10px;
}
section {
    background-color: #E0E0E0;
  }
h1{
  font-size: 42px;
  text-align: center;
}
h2{
  font-size: 28px;
  text-align: center;
}

fieldset{
  margin-left: 20px;
}
input[type=number]{
  height: 40px;
}
input[type=text]{
  height: 40px;
}
input[type=date]{
   height: 40px;
}

form fieldset{
  float: left;
  width: 20%;
}
hr{
  width: 100%;
  height:2px;
  text-align:center;
  border:0px;
  background:#000000;
}

td{
  background-color: white;
  padding: 10px;
}
